.accordion-item {
  border: 1px solid rgba($color: map-get($colors, txt-black), $alpha: 0.125);
  .accordion-button {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    line-height: 19px;
    border: none;
    cursor: pointer;
    &::after {
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;
      margin-left: auto;
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
    }
  }
  .collapsed {
    background-color: #e7f1ff;
    color: map-get($map: $colors, $key: bs-primary-rgba);
    &::after {
      transform: rotate(180deg);
    }
  }
  .accordion-body {
    padding: 10px 20px;
    code {
      color: map-get($map: $colors, $key: txt-pink);
    }
  }
  .accordion-collapse {
    height: 0;
    overflow: hidden;
  }
  .show {
    height: 100%;
  }
}
