.placeholder {
  background-color: red;
  min-height: 1rem;
  display: inline-block;
  cursor: wait;
  opacity: 0.5;
  &.placeholder-lg {
    min-height: 1.2rem;
  }
  &.placeholder-sm {
    min-height: 0.8rem;
  }
  &.placeholder-xs {
    min-height: 0.5rem;
  }
}
.placeholder-glow {
  .placeholder {
    animation-name: placeholder-glow 2s ease-in-out infinite;
    -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  }
}
@keyframes placeholder-glow {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.1;
  }
}
