.spinner-border {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: 0.25rem solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
  -webkit-animation: spinner-border 0.5s linear infinite;
  animation: spinner-border 0.5s linear infinite;
  margin: 0 1rem;
  vertical-align: middle;
}
@keyframes spinner-border {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-grow {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: currentColor;
  border-radius: 50%;
  -webkit-animation: spinner-grow 0.8s linear infinite;
  animation: spinner-grow 0.8s linear infinite;
}
@keyframes spinner-grow {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.spinner-border-sm {
    height: 1rem;
    width: 1rem;
}
.spinner-border-lg {
    height: 3rem;
    width: 3rem;
}
