.page-header {
  width: 300px;
  height: 100vh;
  float: left;
  padding: 1rem 3rem;
  z-index: 1200;
  top: 0;
  overflow: scroll;
  left: 0;
  position: fixed;
  .navbar {
    // height: 100vh;
    // float: left;
    // padding: 1rem 3rem;
    // z-index: 1200;
    // position: fixed;
    .navbar-title {
      color: map-get($map: $colors, $key: bs-primary-rgba);
    }
    .navbar-item {
      padding: 0.5rem 0;
      .navbar-link {
        color: map-get($map: $colors, $key: bs-secondary-rgba);
      }
    }
  }
}
