.page-main {
  // @include pxRem(padding, 30 30);
  min-height: 100vh;
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  transition: left 0.25s linear;
  // transition: width 0.1s linear;

  .main-content {
    padding: 1.25rem;
  }
  &.show {
    left: 0;
    width: 100%;
    transition: left 0.25s linear;
    // transition: width 0.1s linear;

  }
}
@include respond-below(large) {
  .page-main {
    left: 0;
    width: 100%;
  }
}
